name: Vercel Deployment

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'

      - name: Preview Deployment
        run: vercel deploy --token=${{ secrets.VERCEL_TOKEN }}
        if: github.event_name == 'pull_request'
        id: deploy-preview
